<h1>Entry Number <%= "#{params[:id]}"%> </h1>

<table>
  <tr>
    <th>Date Created</th>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
  </tr>

  <tr>
    <td><%= @entry.created_at %></td>
    <td><%= "#{@entry.user.first_name} #{@entry.user.last_name}" %></td>
    <td><%= @entry.title %></td>
    <td><%= @entry.description %></td>
    <td><%= @entry.category.name %></td>
    <td><%= link_to 'Show', entry_path(@entry) %></td>
  </tr>

</table>
