<h1>Entry Number <%= "#{params[:id]}"%> </h1>

<table>
  <tr>
    <th>Date Created</th>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
  </tr>

  <tr>
    <td><%= @entry.created_at %></td>
    <td><%= "#{@entry.user.first_name} #{@entry.user.last_name}" %></td>
    <td><%= @entry.title %></td>
    <td><%= @entry.description %></td>
    <td><%= @entry.category_name %></td>
    <td><%= link_to 'Edit', edit_entry_path(@entry) %></td>
    <td><%= link_to 'Destroy', entry_path(@entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

</table>
<%= link_to 'Back', entries_path %>

