<h1>Entries</h1>

<h3><%= "List of all entries by #{@user.first_name} #{@user.last_name}" %></h3>

<table>
  <tr>
    <th>Date Created</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  <% @entries.each do |entry| %>
  <tr>
    <td><%= entry.created_at %></td>
    <td><%= entry.title %></td>
    <td><%= entry.description %></td>
    <td><%= entry.category.name %></td>
  </tr>
  <% end %>
</table>
