<h1>Categories</h1>

<ul>
  <li><%= link_to 'New Category', new_category_path %></li>
  <li><%= link_to 'Entries', entries_path %></li>
</ul>

<h3>List of all categories (sorted by name)</h3>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', category_path(category) %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
